.back-image {
    background-image: url(image2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form-control {
    -webkit-appearance: none;
    margin: 5px 0px;
}

.wh1 {
    color: white;
}

.text-dec {
    list-style-type: none;
    padding: 0;
}


/* TABLE START */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 150px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.nav-1 {
    background-color: black;
}


/*TABLE END  */

#btn-3 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}